.c{
    width: 24%;
    height: 384px;
    color: white;
    border: gold 2px solid;
    float: left;
    margin-left: 69px;
    margin-top: 66px;
    align-items: center;
}
img{
    width: 100%;
    height: 383px;
}
.box{
    width: 76%;
    height: 840px;
   
    margin: 0;
    margin-left: 213px;
    margin-top: 40px;
    border: gold 2px solid;
    align-items: center;

}


h1{
    text-align: center;
}
.button{
    width: 160px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.173);
    border: 2px solid gold;
    border-radius: 10px;
    margin-left: 32px;
    margin-top: 46px;
}
h4{
    margin-top: 8px;
    margin-left: 27px;
}
h2{
    text-align: center;

}

.c1{
    text-align: center;
    color: white;
}
.c2{
    text-align: center;
    color: white;
}
.c-3{
    width: 24%;
    height: 384px;
    color: white;
    border: gold 2px solid;
    float: left;
    margin-left: 69px;
    margin-top: 50px;
}
body{
    background-image: url("./images/329637.jpg");
    background-size: cover;
}
h2{
    color: gold
}
h1{
    color: gold;

}